.center.jumbotron
  %h1 Bon appetit
  = week_calendar events: @menus do |date, menus|
    = date
    - menus.each do |menu|
      %div
        - if menu_made_up?(menu)
          = link_to menu.name,  store_path(menu.id)
        -else
          %p The menu is
          %p not collected
